.cart {
    width: 100%;
    margin-top: 5rem !important;
}

.cart .product-info {
    display: flex;
    flex-wrap: wrap;
}

.cart table {
    width: 100%;
    border-collapse: collapse !important;
    font-size: 1.7rem;
}

.cart th {
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #d87093;
}

.cart td {
    padding: 10px 20px;
}

.cart td img {
    width: 10rem;
    height: 10rem;
    margin-right: 10px;
}

.cart td input {
    width: 5rem;
    height: 40px;
    padding: 5px;
}

.cart .edit-btn {
    color: #d87093;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
}

.cart .remove-btn {
    color: #d87093;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    width: 100%;
}

.cart .product-info {
    margin-top: 5px;
}

.cart .product-info p {
    margin: 3px;
    font-size: 1.5rem;
}

.cart-total {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.cart-total table {
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #d87093;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.checkout-btn {
    background-color: #d87093;
    color: #fff;
    font-size: 1.5rem;
}

.checkout-btn:hover {
    background-color: #da0049;
    color: #fff;
}