.home {
    padding: 2rem 9%;
    width: 100%;

    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
    padding: 2rem;
    background-color: #000;
    opacity: 0.7;
}

.home .content h3 {
    font-size: 6rem;
    color: #fff;
}

.home .content span {
    font-size: 3.5rem;
    color: palevioletred;
    line-height: 1.5;
    padding: 1rem 0;
}

.home .content p {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.5;
    padding: 1rem 0;
}


.main-btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #333;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.8rem;
    opacity: 1;
}

.main-btn:hover {
    background-color: palevioletred;
}

@media (max-width: 768px) {
    .home .content h3 {
        font-size: 4.5rem;
        line-height: 1.3;
    }

    .home .content span {
        font-size: 2.5rem;
        line-height: 1.3;
    }
}

/* about */
.about {
    width: 100%;
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: palevioletred;
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgba(182, 156, 169, 0.05);
}

.heading span {
    color: #333;
}

.about .main-row .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .main-row .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    height: 100%;
    object-fit: cover;
}

.about .main-row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background-color: #fff;
    color: #333;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}



.about .main-row {
    padding: 2rem 0;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .main-row .content {
    flex: 1 1 40rem;
    background-color: #fff;
}

.about .main-row .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .main-row .content p {
    font-size: 1.5rem;
    color: #999;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .about .main-row .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* icon */

.icons-container {
    width: 100%;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 9%;
    padding-left: 9%;
}

.icons-container .icons {
    background-color: #fff;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 25rem;
    gap: 1rem;
}

.icons-container .icons h3 {
    color: #333;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.icons-container .icons span {
    color: #555;
    font-size: 1.3rem;
}

.icons-container .icons i {
    font-size: 3rem;
    height: 5rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

/* products */

.products {
    width: 100%;
    padding: 2rem 9%;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    color: palevioletred;
    background-color: rgba(48, 1, 25, 0.1);
    border-radius: 0.5rem;
}

.products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box img {
    height: 30rem;
    width: 30rem;
    margin: auto;
    padding: auto;
}

.products .box-container .box:hover .image img {
    transform: scale(1.1);
}

.products .box-container .box .image form input {
    height: 4rem;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 700;
    width: 50%;
    background-color: palevioletred;
    color: #fff;
    outline: none;
    border: none;
}

.products .box-container .box .image form .cart-btn {
    border-left: 0.1rem solid #fff7ff;
    border-right: 0.1rem solid #fff7ff;
    width: 100%;
}

.products .box-container .box .image form {
    position: absolute;
    bottom: -5rem;
    left: 0;
    right: 0;
    display: block;
}

.products .box-container .box:hover .image form {
    transition: 0.4s ease;
    bottom: 0;
}

.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: palevioletred;
    font-weight: 700;
    padding-top: 1rem;
}

.products .box-container .box .content span {
    font-size: 1.5rem;
    color: #999;
    font-weight: 300;
    text-decoration: line-through;
}

/* review */
.review {
    width: 100%;
    padding: 2rem 9%;
}

.review .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5.5rem;
}

.review .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0, 0, 0, 0.1);
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 5rem;
    color: #eeeeee;
}

.review .box-container .box .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .stars i {
    opacity: 0.8;
    color: gold;
    font-size: 2rem;
}

.review .box-container .box p {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user img {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    margin-left: 1rem;
}

.review .box-container .box .user h3 {
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span {
    font-size: 1.5rem;
    color: #999;
}

/* contact */
.contact .main-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .contact-info h3 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1.5rem;
}

.contact .contact-info {
    margin: 10px auto;
}

.contact .contact-info p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5rem;
}

.contact .contact-info span {
    color: #d87093;
}